body {
    font-family: 'Open Sans', sans-serif;
}

/*
    @Topbar
*/
#top-bar {
    background-color: #2457aa;
    padding: 10px 0;
}
#top-bar ul {
    padding: 0;
    margin: 0;
}
#top-bar ul li a:after {
    content: "|";
    color: #cad5d5;
    display: inline-block;
    margin: 0 1em;
}
#top-bar ul li:last-child a:after {
    display: none;
}
#top-bar ul li {
    display: inline-block;
}

#top-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
#top-bar ul li a svg {
    font-size: 13px;
}
@media (min-width:1200px) {
    .container {
        max-width: 1430px;
    }
}

/*
    @Navbar
*/
nav.navbar.navbar-expand-lg.navbar-dark.bg-light {
    background-color: #1F4C94!important;    
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 3em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

form#search-bar {
    margin: 0 15px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

form#search-bar #ddlCategories {
    border-radius: 3px 0 0 3px;
    border: 0;
    border-right: 1px solid #f5f5f5;
    outline: 0;
}

form#search-bar input {
    border-radius: 0;
    border: 0;
    border-right: 1px solid #f5f5f5;
    outline: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

form#search-bar .btn-search {
    background-color: #ffd200;
    padding: 10px 15px;
    border:0;
    outline: 0;
    border-radius: 0px 3px 3px 0;
    -webkit-border-radius: 0px 3px 3px 0;
    -moz-border-radius: 0px 3px 3px 0;
    -ms-border-radius: 0px 3px 3px 0;
    -o-border-radius: 0px 3px 3px 0;
}

form#search-bar .btn-search:focus, 
form#search-bar input:focus, 
form#search-bar #ddlCategories:focus {
    outline: 0;
    box-shadow:none!important;
}

li.cart {
    position: relative;
}

#shop-cart li {
    display: inline-block;
    margin-right: 20px;
}

#shop-cart li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

#shop-cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#shop-cart li:last-child {
    margin: 0;
}

#shop-cart li.cart a span {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: #ffd200;
    color: #333;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}

/*
    @Footer
*/
footer {
    background-color: #2457aa;
    padding: 30px 0;
}

.footer {
    border-bottom: 1px solid rgb(62, 107, 179);
}

.list-payment-sprite {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-payment-sprite li {
    display: inline-block;
}

.method-1,
.method-2,
.method-3 {
    display: block;
    width:40px;
    height:30px;
}

.method-1 {
    background: url('../images/payment-sprite.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;

}

.method-2 {
    background: url('../images/payment-sprite.png');
    background-repeat: no-repeat;
    background-position: 0px -75px;
}

.method-3 {
    background: url('../images/payment-sprite.png');
    background-repeat: no-repeat;
    background-position: 0px -550px;
    
}

.copyright p {
    margin: 0;
}

/*
    @Slider
*/
#slider .item {
    position: relative;
}
#slider .item .item-text {
    position: absolute;
    top: 50%;
    transform: translate(-20%, -50%);
    left: 20%;
    z-index: 2;
    color: #333;
}

#slider .item .item-text h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 30px;
}

#slider .item .item-text h3 span {
    font-weight: bold;
}

#slider .item .item-text p {
    text-align: right;
}

#slider .item:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
section#slider {
    position: relative;
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-theme .owl-nav {
    width:100%;
    font-size: 3em;
    color: #fff
}
#slider button.owl-prev {
    float: left;
}

#slider button.owl-next {
    float: right;
}

#slider .owl-theme .owl-nav button span {
    padding: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
}

/*
    @ Deal of the day
*/
.h-title,
.h-related {
    border-bottom: 3px solid #f5f5f5;
}

.h-title h2,
.h-related h2 {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.h-title h2:after,
.h-related h2:after {
    content: "";
    border-bottom: 3px solid #2457aa;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    display: inline-block;
}


.hot-deal-box .item .price {
    color: #1f4c94;
    font-size: 1.2em;
    font-weight: bold;
}

.hot-deal-box .item h1 {
    font-size: 1.8em;
    color: #555;
}
.count-down ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.count-down ul li {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    border-right: 1px solid #dee2e6;
}

.count-down ul li:last-child {
    border: 0;
}
#sec-hot-deal .hot-deal-box .owl-dots {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 12%;
    transform: translateX(-12%);
}

#sec-hot-deal .hot-deal-box .owl-carousel {
    position: relative;
}
.group-button {
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.group-button ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.group-button ul li {
    display: inline-block;
    margin: 15px 0px 0 0;
}

.group-button ul li a {
    padding: 5px 10px;
    background-color: #1f4c94;
    color: #fff;
    display: block;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.hot-deal-box .item:hover .group-button {
    opacity: 1;
    visibility: visible;
}
.hot-deal-box .item:hover .group-button ul li a:hover {
    background-color:#ffd200;
}

section#list-cate {
    background-color: #f5f5f5;
}

section#list-cate .item {
    background-color: transparent;
}

.item .cate-img img {
    border-radius: 50%;
    max-width: 150px;
}
.h-title-gray h2 {
    color: #333;
    font-weight: bold;
}

.h-title-gray h2 span {
    color: #555;
    font-size: 14px;
    margin-left: 15px;
    font-weight: normal;
}

.h-title-gray {
    margin-bottom: 30px;
}

/*
    @Home page
*/
.nav-list-tab ul {
    border: 0;
    padding: 0!important;
    margin: 0!important;
}
.clothes-item-body a {
    text-decoration: none;

}
.clothes-item-body h3 a {
    font-size: 1em;
    color: #1f4c94;
}
.price .old-price {
    text-decoration: line-through;
    font-size: 15px;
    color: #707070;
    margin-right: 15px;
}

.clothes-item-inner {
    border-right: 1px solid #f5f5f5;
    padding: 15px;
}

.price .primary-price {
    font-size: 20px;
    color: #2457aa;
    font-weight: bold;
    
    
}
.clothes-item-body h3 {
    font-size: 18px;
}
.clothes-item-body p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #555;
    font-size: 13px;
    font-style: italic
}
a.btn-buy-now.btn.btn-primary {
    background-color: #2457aa;
    border-color: #2457aa;
}

a.btn-add-to-cart.btn.btn-warning {
    background-color: #ffd200;
}

.clothes-item:last-child .clothes-item-inner {
    border: 0;
}

.clothes-item-head a img {
    max-height: 347px;
    overflow: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #2457aa;
    border-radius: 0;
}

.nav-pills .nav-link {
    color: #555;
}

#partner-logo .owl-nav {
    display: block!important;
}

#partner-logo .owl-nav .owl-prev {
    float: left;
    
}

#partner-logo .owl-nav .owl-next {
    float: right;
    
}
#partner-logo .owl-nav {
    color: #2457aa;
    
}

#partner-logo .owl-nav button {
    transition: all .3s ease;
}

#partner-logo .owl-nav button:hover {
    color: #555;
}

.btn-control span a {
    font-size: 12px;
}

/*
    @Alert
*/

div#alert-box {
    position: fixed;
    right: 10px;
    top: 140px;
    z-index: 99999;
    border-radius: 0;
}

/*
    @ Bread crumb
*/
section#breadcrumb ul {
    padding: 15px 0;
    margin: 0;
    list-style: none;
}

section#breadcrumb ul li {
    display: inline-block;
    padding: 0;
}

section#breadcrumb ul li a {
    padding: 0;
    text-decoration: none;
    color: #555;
    font-size: 13px;
}

section#breadcrumb ul li:after {content: " » ";}
section#breadcrumb ul li:last-child:after { content: ""}