body {
    font-family: 'Open Sans', sans-serif;
}

/*
    @Topbar
*/
#top-bar {
    background-color: #2457aa;
    padding: 10px 0;
}
#top-bar ul {
    padding: 0;
    margin: 0;
}
#top-bar ul li a:after {
    content: "|";
    color: #cad5d5;
    display: inline-block;
    margin: 0 1em;
}
#top-bar ul li:last-child a:after {
    display: none;
}
#top-bar ul li {
    display: inline-block;
}

#top-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
#top-bar ul li a svg {
    font-size: 13px;
}
@media (min-width:1200px) {
    .container {
        max-width: 1430px;
    }
}

/*
    @Navbar
*/
nav.navbar.navbar-expand-lg.navbar-dark.bg-light {
    background-color: #1F4C94!important;    
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 3em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

form#search-bar {
    margin: 0 15px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

form#search-bar #ddlCategories {
    border-radius: 3px 0 0 3px;
    border: 0;
    border-right: 1px solid #f5f5f5;
    outline: 0;
}

form#search-bar input {
    border-radius: 0;
    border: 0;
    border-right: 1px solid #f5f5f5;
    outline: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

form#search-bar .btn-search {
    background-color: #ffd200;
    padding: 10px 15px;
    border:0;
    outline: 0;
    border-radius: 0px 3px 3px 0;
    -webkit-border-radius: 0px 3px 3px 0;
    -moz-border-radius: 0px 3px 3px 0;
    -ms-border-radius: 0px 3px 3px 0;
    -o-border-radius: 0px 3px 3px 0;
}

form#search-bar .btn-search:focus, 
form#search-bar input:focus, 
form#search-bar #ddlCategories:focus {
    outline: 0;
    box-shadow:none!important;
}

li.cart {
    position: relative;
}

#shop-cart li {
    display: inline-block;
    margin-right: 20px;
}

#shop-cart li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

#shop-cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#shop-cart li:last-child {
    margin: 0;
}

#shop-cart li.cart a span {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: #ffd200;
    color: #333;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}

/*
    @Footer
*/
footer {
    background-color: #2457aa;
    padding: 30px 0;
}

.footer {
    border-bottom: 1px solid rgb(62, 107, 179);
}

.list-payment-sprite {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-payment-sprite li {
    display: inline-block;
}

.method-1,
.method-2,
.method-3 {
    display: block;
    width:40px;
    height:30px;
}

.method-1 {
    background: url('../images/payment-sprite.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;

}

.method-2 {
    background: url('../images/payment-sprite.png');
    background-repeat: no-repeat;
    background-position: 0px -75px;
}

.method-3 {
    background: url('../images/payment-sprite.png');
    background-repeat: no-repeat;
    background-position: 0px -550px;
    
}

.copyright p {
    margin: 0;
}